*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}
body{
    background-color: #EEE3DD;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(120, 30, 30);
    height: 10vh;
    width: 100%;
    padding: 0 30px;
    font-size: 20px;
}
.sidenav{
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: all 300ms ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 100px 0;
    background-color: #EEB393;
}
.sidenav a , .categories a{
    text-decoration: none;
    font-family: Cambria;
    font-size: 25px;
    padding-left: 30px;
}
.sidenav a:hover{
    color: brown;
}
.sidenav .closebtn{
    position: absolute;
    top: 10px;
    left: 90%;
    padding: 0;
}
.burger{
    cursor: pointer;
    color: blanchedalmond;
}
.logo{
    cursor: default;
    font-family: Girassol;
    font-size: 45px;
    color: blanchedalmond;
    text-shadow: 3px 3px 0 black , 0 0 5px white;
    padding-left: 150px;
}
.searchbox{
    display: flex;
    align-items: center;
    justify-content: center;
}
.searchbox i{
    border: 1px solid #EEB393;
    font-size: 23px;
    padding: 2px;
    border-left: none;
    background-color: #EEB393;
    cursor: pointer;
}
.search{
    padding: 6px;
}
.secondary-nav{
    height: 6vh;
    background-color: rosybrown;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    font-size: 20px;
}
.categories a{
    color: rgb(75, 25, 25);
    font-weight: 600;
    padding: 0 10px;
}
.categories a:hover{
    color: brown;
}
.nav-icons i{
    padding: 5px;
    cursor: pointer;
}
.nav-icons i:hover{
    color: brown;
}
.header{
    height: 84vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 10%;
}
.images{
    display: flex;
    flex-direction: column;
}
.images img{
    border: 1px solid black;
    width: 500px; 
    height: 400px;
}
.gallery{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.gallery img{
    width: 90px;
    height: 90px;
}
.gallery img:hover{
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}
.description{
    height: 500px;
    width: 400px;
    box-shadow: 0 2px 5px 0 black;
    font-family: 'Mate SC';
    font-weight: 600;
    font-size: 20px;
    padding: 10px 10px;
}
.description h1{
    font-family: Merriweather;
}
.price{
    padding-top: 10px;
    font-family: Calibri;
    font-size: 30px;
    font-weight: 600;
    color: rgb(100, 0, 0);
}
.price s{
    font-size: 20px;
}
.stars i{
    color: rgb(150, 0, 0);
}
.stars a{
    text-decoration: none;
    color: rgb(150, 0, 0);
}
.size button{
    cursor: pointer;
    background-color: #EEE3DD;
    font-family: Calibri;
    font-size: 20px;
    width: 35px;
    height: 35px;
}
.size button:hover{
    border-color: red;
}
.active{
    border-color: red;
}
.quantity select{
    margin-top: 10px;
    width: 50px;
    height: 30px;
    background-color: #EEE3DD;
}
.cart{
    width: 100%;
    height: 50px;
    font-family: 'Mate SC';
    font-size: 25px;
    background-color: crimson;
    color: white;
    border-radius: 10px;
    border: none;
}
.cart:hover , .wishlist:hover{
    cursor: pointer;
    opacity: 0.8;
}
.wishlist{
    margin-top: 10px;
    margin-left: 15%;
    width: 70%;
    height: 40px;
    background-color: rgb(255, 180, 200);
    color: crimson;
    font-family: 'Mate SC';
    font-size: 20px;
    border-radius: 10px;
    border: none;
}
hr{
    border: 1px solid gray;
    width: 80%;
    margin-left: 10%;
}
.first , .second , .third , .fourth{
    padding: 20px 0;
    margin: 0 10%;
    font-size: 20px;
    font-family: Merriweather;
    display: flex;
    justify-content: space-between;
}
.first-text h1 , .second h1 , .third h1 , .fourth h2{
    font-family: Lobster;
    padding-bottom: 10px;
    color: rgb(120, 30, 30);
}
.first img{
    border: 5px double rgb(100, 0, 0);
    width: 380px;
    height: 400px;
}
.second , .third , .fourth{
    flex-direction: column;
}
.cards{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}
.cards img{
    border-bottom: 1px solid rgb(100, 0, 0);
    width: 250px;
    height: 300px;
}
.card1 , .card2 , .card3 , .card4{
    border: 1px solid rgb(100, 0, 0);
    cursor: pointer;
}
.card1:hover , .card2:hover , .card3:hover , .card4:hover{
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.400);
}
.card-text{
    padding: 5px 5px;
}
.third img{
    margin-top: 10px;
}
.review-gallery{
    display: flex;
    justify-content: space-between;
    width: 210px;
    margin-top: 10px;
}
.third hr{
    margin: 0 0;
    width: 80%;
    border: 1px solid rgba(128, 128, 128, 0.4);
}
.form-details , textarea{
    border: none;
    width: 400px;
    border-bottom: 2px solid rgb(100, 0, 0);
    border-radius: 5px;
    background-color: transparent;
    font-size: 20px;
    font-family: Georgia;
    padding: 15px;
}
.contact-form button{
    width: 400px;
    height: 40px;
    background-color: rosybrown;
    font-size: 20px;
    font-family: Georgia;
    cursor: pointer;
}
.contact-form a button{
    color: rgb(100, 0, 0);
    text-decoration: none;
}
.contact-form button:hover{
    opacity: 0.8;
}
.footer{
    height: 15vh;
    width: 100%;
    background-color: rgb(120, 30, 30);
}
.logo-bottom{
    padding: 0 0;
    text-align: center;
    font-size: 40px;
}
.footer hr{
    width: 50%;
    margin: 5px 25%;
    border: 1px solid rosybrown;
}
.footer-icons{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0 30%;
}
.footer-icons i{
    zoom: 180%;
    color: white;
    cursor: pointer;
}
.footer-icons i:hover{
    color: #EEB393;
}
@media screen and (max-width: 768px){
    nav{
        justify-content: space-between;
        padding: 0 20px;
    }
    .search{
        padding: 5px;
        width: 80px;
    }
    .logo{
        padding-left: 50px;
    }
    .sidenav a{
        font-size: 20px;
        padding: 0 10px;
        font-weight: 800;
    }
    .sidenav .closebtn{
        left: 80%;
    }
    .secondary-nav{
        padding: 0 15px;
        font-size: 10px;
    }
    .categories a{
        font-size: 10px;
        padding: 0 5px;
    }
    .header{
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        margin: 0 0;
    }
    .images{
        flex-direction: row;
        margin-bottom: 20px;
    }
    .images img{
        width: 250px;
        height: 240px;
        margin-right: 30px;
    }
    .gallery{
        flex-direction: column;
    }
    .gallery img{
        width: 50px;
        height: 50px;
        margin: 0 0;
    }
    .description{
        width: 330px;
        height: 450px;
        font-size: 15px;
    }
    hr{
        width: 350px;
        margin: 0 10px;
    }
    .first{
        flex-direction: column-reverse;
    }
    .first , .second , .third , .fourth{
        font-size: 15px;
        margin: 0% 0%;
        align-items: center;
        width: 330px;
    }
    .first img{
        width: 330px;
        height: 300px;
        margin-bottom: 10px;
    }
    .first-text{
        width: 330px;
    }
    .card2 , .card4{
        display: none;
    }
    .cards{
        font-size: 12px;
    }
    .cards img{
        width: 150px;
        height: 180px;
    }
    .card1{
        margin-right: 15px;
    }
    .form-details , textarea{
        width: 330px;
        font-size: 15px;
        padding: 10px;
    }
    .contact-form button{
        width: 330px;
        height: 35px;
    }
    .footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer hr{
        margin: 5px 0;
    }
    .logo-bottom{
        padding: 0 0;
        font-size: 35px;
    }
    .footer-icons i{
        zoom: 150%;
        padding: 0 10px;
    }
}